**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/TestResults
**/coverage
**/publish
**/*.user
**/*.suo
**/*.cache
**/*.log
**/.env
**/.env.*
**/appsettings.Development.json
storage/users.json
