@page "/Replacement/Dashboard"
@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@rendermode InteractiveServer
@using ApexCharts
@inject IOrderService OrderService

@*<InputFileComponent></InputFileComponent>

<LoadingRingComponent Percentage="90" Quantidade="5"></LoadingRingComponent>*@
<div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap; height: 65vh">
    <RadialBarComponent></RadialBarComponent>
</div>