.metric-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.metric-card {
    border-radius: 8px;
    padding: 1rem;
    background-color: transparent;
}

.metric-label {
    font-size: 12px;
    color: var(--neutral-foreground-hint);
    margin: 0 0 4px;
}

.metric-value {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.metric-value.danger {
    color: #e03f97;
}

.metric-value.warning {
    color: #a53fe0;
}

.metric-value.info {
    color: #3fe06f;
}

.section-conteiner{
display: flex; justify-content: space-between;
}
