@page "/counter"
@using Microsoft.FluentUI.AspNetCore.Components.Utilities
@using RepyPharma.Components.Components
@rendermode InteractiveServer
@using ApexCharts
@inject IOrderService OrderService

@*<InputFileComponent></InputFileComponent>

<LoadingRingComponent Percentage="90" Quantidade="5"></LoadingRingComponent>*@
<div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
    <RadialBarComponent></RadialBarComponent>
    <RadialBarComponent></RadialBarComponent>
    <RadialBarComponent></RadialBarComponent>
</div>